html,
body {
  margin: 0;
  padding: 0;
}

.background-radial-gradient {
  background-color: #053b50;
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(0, 0%, 0%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );

  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: darken;
  height: 100vh;
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#box1 {
  width: 14vw;
  height: 14vw;
  right: -55px;
  top: -80px;
}

#more {
  display: none;
}

#wave1 {
  --s: 35px; /* the size of the wave */
  --b: 15px; /* the thickness of the line*/
  bottom: 130px;
  left: -40px;
  height: calc(2 * var(--s));
  aspect-ratio: 2.5;
  display: grid;
  padding: 0px;
  filter: contrast(20) hue-rotate(20deg);
}
#wave1::before {
  content: "";
  --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
    #ffffff calc(101% - var(--b)) 99%, #0000 101%;
  --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
  background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s))
      calc(50% - var(--s)) / calc(4 * var(--s)) calc(2 * var(--s)),
    radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s))
      calc(50% + var(--s)) / calc(4 * var(--s)) calc(2 * var(--s));
  animation: m 1s infinite linear;
}
#wave2 {
  --s: 35px; /* the size of the wave */
  --b: 15px; /* the thickness of the line*/
  bottom: 80px;
  left: -40px;
  height: calc(2 * var(--s));
  aspect-ratio: 2.5;
  display: grid;
  padding: 0px;
  filter: contrast(20) hue-rotate(20deg);
}
#wave2::before {
  content: "";
  --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
    #ffffff calc(101% - var(--b)) 99%, #0000 101%;
  --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
  background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s))
      calc(50% - var(--s)) / calc(4 * var(--s)) calc(2 * var(--s)),
    radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s))
      calc(50% + var(--s)) / calc(4 * var(--s)) calc(2 * var(--s));
  animation: m 1s infinite linear;
}
#wave3 {
  --s: 35px; /* the size of the wave */
  --b: 15px; /* the thickness of the line*/
  bottom: 180px;
  left: -40px;
  height: calc(2 * var(--s));
  aspect-ratio: 2.5;
  display: grid;
  padding: 0px;
  filter: contrast(20) hue-rotate(20deg);
}
#wave3::before {
  content: "";
  --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
    #ffffff calc(101% - var(--b)) 99%, #0000 101%;
  --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
  background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s))
      calc(50% - var(--s)) / calc(4 * var(--s)) calc(2 * var(--s)),
    radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s))
      calc(50% + var(--s)) / calc(4 * var(--s)) calc(2 * var(--s));
  animation: m 1s infinite linear;
}
@keyframes m {
  to {
    background-position: calc(50% - 5 * var(--s)) calc(50% - var(--s)),
      calc(50% - 3 * var(--s)) calc(50% + var(--s));
  }
}
#wave-static {
  width: 20vw;
  left: 350px;
  bottom: -35px;
}
#cr-image {
  width: 30vw;
  height: 45vw;
}

#cr-image-oragnisasi {
  width: 50vw;
  height: 40vw;
}

#image-static-team {
  width: 70vw;
  height: 18vw;
}

.justify-text {
  text-align: justify;
}
.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.4) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

form .fields .input-field {
  display: flex;
  flex-direction: column;
  margin: 4px 0;
}
.input-field label {
  font-size: 15px;
  font-weight: 500;
  color: #fff;
}
.input-field input,
select {
  outline: none;
  font-size: 14px;
  font-weight: 400;
  color: #333;
  border-radius: 5px;
  border: 3px solid #ffffff;
  padding: 0 15px;
  height: 42px;
  margin: 8px 0;
  opacity: 0.5;
}

.input-field input :focus,
.input-field select:focus {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}
.input-field select,
.input-field input[type="date"] {
  color: #707070;
}
.input-field input[type="date"]:valid {
  color: #333;
}

.form-control {
  background-color: yellow;
}
.button {
  background-color: #ad1fff;
  border-radius: 20px;
}

@media screen and (min-width: 320px) {
  .background-radial-gradient {
    height: auto;
  }

  #box1 {
    display: none;
  }

  #wave1 {
    display: none;
  }
  #wave2 {
    display: none;
  }
  #wave3 {
    display: none;
  }

  #wave-static {
    display: none;
  }
  #radius-shape-1 {
    height: 0px;
    width: 0px;
    top: 0px;
    left: 0px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }

  #radius-shape-2 {
    border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
    bottom: 0px;
    right: 0px;
    width: 0px;
    height: 0px;
    background: radial-gradient(#44006b, #ad1fff);
    overflow: hidden;
  }
}

@media screen and (min-width: 550px) {
  #box1 {
    display: block;
  }

  #wave1 {
    --s: 35px; /* the size of the wave */
    --b: 15px; /* the thickness of the line*/
    bottom: 130px;
    left: -40px;
    height: calc(2 * var(--s));
    aspect-ratio: 2.5;
    display: grid;
    padding: 0px;
    filter: contrast(20) hue-rotate(20deg);
  }
  #wave1::before {
    content: "";
    --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
      #ffffff calc(101% - var(--b)) 99%, #0000 101%;
    --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
    background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s))
        calc(50% - var(--s)) / calc(4 * var(--s)) calc(2 * var(--s)),
      radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s))
        calc(50% + var(--s)) / calc(4 * var(--s)) calc(2 * var(--s));
    animation: m 1s infinite linear;
  }
  #wave2 {
    --s: 35px; /* the size of the wave */
    --b: 15px; /* the thickness of the line*/
    bottom: 80px;
    left: -40px;
    height: calc(2 * var(--s));
    aspect-ratio: 2.5;
    display: grid;
    padding: 0px;
    filter: contrast(20) hue-rotate(20deg);
  }
  #wave2::before {
    content: "";
    --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
      #ffffff calc(101% - var(--b)) 99%, #0000 101%;
    --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
    background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s))
        calc(50% - var(--s)) / calc(4 * var(--s)) calc(2 * var(--s)),
      radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s))
        calc(50% + var(--s)) / calc(4 * var(--s)) calc(2 * var(--s));
    animation: m 1s infinite linear;
  }
  #wave3 {
    --s: 35px; /* the size of the wave */
    --b: 15px; /* the thickness of the line*/
    bottom: 180px;
    left: -40px;
    height: calc(2 * var(--s));
    aspect-ratio: 2.5;
    display: grid;
    padding: 0px;
    filter: contrast(20) hue-rotate(20deg);
  }
  #wave3::before {
    content: "";
    --_g: calc(-0.6 * var(--s)), #0000 calc(99% - var(--b)),
      #ffffff calc(101% - var(--b)) 99%, #0000 101%;
    --_r: calc(1.166 * var(--s) + var(--b) / 2) at left 50%;
    background: radial-gradient(var(--_r) bottom var(--_g)) calc(50% - var(--s))
        calc(50% - var(--s)) / calc(4 * var(--s)) calc(2 * var(--s)),
      radial-gradient(var(--_r) top var(--_g)) calc(50% + var(--s))
        calc(50% + var(--s)) / calc(4 * var(--s)) calc(2 * var(--s));
    animation: m 1s infinite linear;
  }

  #wave-static {
    display: block;
  }
}

/*untuk layar device berukuran besar*/
@media screen and (min-width: 800px) {
}
